.article {
  &__wrp {
    @include sizePage;
    @include paddingMob;
    @include marCenter;
  }

  &__img {
    max-width: 1100px;
    width: 100%;

    margin-bottom: 24px;
    @include marCenter;

    object-fit: cover;
  }

  &__title-wrp {
    margin-top: 48px;
    margin-bottom: 48px;

    background-color: $colorMain;

    @include _680 {
      margin-top: 68px;
    }
  }
  &__title {
    padding-top: 48px;
    padding-bottom: 48px;

    @include sizePage;
    @include paddingMob;
    @include marCenter;

    @include text($fontSize: 48px, $color: $colorWhite);
    text-align: center;

    @include _680 {
      padding-top: 16px;
      padding-bottom: 16px;

      font-size: 24px;
    }
  }
}
