.blog {
  margin-top: 48px;
  margin-bottom: 64px;

  @include sizePage;
  @include marCenter;
  @include paddingMob;

  &__title {
    margin-bottom: 24px;

    @include text($fontSize: 32px, $fontWeight: 600, $color: $colorDark);
  }

  &__article-wrp {
    max-width: 600px;
    width: 100%;

    border-radius: 8px;
  }

  &__article-img-wrp {
    margin-bottom: 16px;

    border-radius: 8px;
    overflow: hidden;

    &:hover .blog__article-img {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }

  &__article-img {
    display: flex;
    object-fit: cover;

    transform: scale(1);
    transition: transform 0.3s;
  }

  &__article-text-wrp {
    width: 100%;
  }

  &__article-text-title {
    display: flex;

    @include text($fontSize: 24px, $fontWeight: 600, $color: $colorBlue_60);
  }

  &__article-text-link {
    margin-bottom: 16px;

    display: inline-flex;
  }

  &__article-text {
    @include text($fontSize: 18px);
  }

  &__article-type-wrp {
    width: 100%;

    margin-bottom: 16px;
    gap: 16px;

    @include flexStartCenter;
  }

  &__article-type {
    padding: 10px 1.5rem;

    display: inline-flex;

    background-color: $colorMain;
    border-radius: 8px;
    border: 1px solid $colorBlue_60;
    color: $colorWhite;
    transition: 0.3s;

    &:hover {
      background-color: $colorWhite;
      color: $colorMain;

      transition: 0.3s;
    }
  }

  &__article-type-img {
    max-width: 40px;
    width: 100%;
    height: 40px;

    margin-right: 8px;

    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &__article-type-specialist-wrp {
    @include flexStartCenter;
  }

  &__article-type-specialist-text {
    white-space: nowrap;
    @include text($fontSize: 14px, $fontWeight: 500, $color: $colorHoverButton);
  }
}
