.out-works {
    &__cont-img-wrp {
        width: 100%;
        height: 240px;
        margin-bottom: 16px;

        @extend %flexCentre;

        background-color: white;
        border-radius: 8px;
    }

    &__cont-title {
        @include text(
            $fontSize: 16px,
            $color: $colorHoverButton,
        )
    }

    &__ul {
        padding-left: 20px;
        list-style: outside;
    }

    &__ul-item {
        @include text(
            $fontSize: 16px
        )
    }

    &__list-wrp {
        gap: 16px;

        @extend %flexCentreStart;
        flex-wrap: wrap;
        align-items: self-start;
    }

    &__cont-wrp {
        width: 32%;
    }
}