.out-team {
    height: 100vh;

    &__img-emp {
        max-width: 240px;
        width: 100%;

        border-radius: 50%;
    }


    &__text-name {
        @include text(
            $fontSize: 18px,
            $fontWeight: 600,
            $color: $colorMain,
            $lineHeight: 140%
          );
    }

    &__text-speciality {
        max-width: 260px;

        @include text(
            $fontSize: 16px,
            $fontWeight: 400,
            $color: $colorDark,
            $lineHeight: 140%
        );
        text-align: center;
    }

    &__wrp-cont {
        gap: 24px;

        display: flex;
        flex-wrap: wrap;

        @include _960 {
            justify-content: center;
        }
    }

    &__conteiner-wrp {
        gap: 12px;

        @extend %centreColumFlex;
        justify-content: start;
    }
}